h1 {
    font-size: 2rem; /* Tamaño del título principal */
    margin-top: 2rem; /* Espacio arriba del título */
    margin-bottom: 1.5rem; /* Espacio debajo del título */
    text-align: center; /* Centrar el título */
}

h2 {
    font-size: 1.25rem; /* Tamaño del subtítulo */
    margin-bottom: 0.5rem; /* Espacio debajo del subtítulo */
}

.btn-agregar {
    margin-top: 0.5rem;
}

.table th, .table td {
    text-align: center; /* Centrar el texto en la tabla */
}

.pagination {
    justify-content: center; /* Centrar los controles de paginación */
}

.pagination .page-item.disabled .page-link {
    color: #6c757d; /* Color de los enlaces deshabilitados */
}
